*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: auto;
}
/* ==========================================
   HEADER
   ========================================== */
.bg-info{
    background-color: #0b7392 !important; 
}

.nav-link {
    color: white;
    font-size: 18px;
}

.nav-link:hover {
    color:#053b4b; 
}

/* ==========================================
       INDEX
   ========================================== */
/* ==========================================
            HERO
   ========================================== */
.hero-bootstrap{
   background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../img/fondoagua.png');
   background-size: cover;
   background-position: center;
   min-height: 80vh;
   color:#f0f9ff;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 120px;
   letter-spacing: 5px;
   text-transform: uppercase;
}

/* ==========================================
       CARDS DE INDEX
   ========================================== */
.category-card{
   border-radius: 30px;
   overflow:hidden;
   cursor: pointer;
}

.category-card img{
   width: 100%;
   height: 100%;
   transition: transform 0.3s ease;
}

.category-card h3 {
    margin-top: 10px; 
}

.category-card:hover img{
   transform: scale(1.1);
   transform: translateY(-10px)
}

.btn-vermas{
   text-decoration: none;
   background-color: #053b4b;
  color: black;
  font-weight: bold;
  width: 80px;
  height: 30px;
  display: flex;
  align-items:center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  transition: all 0.3s ease;

}

#lineadeproductos{
   font-size: 6vh;
   font-family: century gothic, sans-serif;
}
/* ==========================================
       NOSOTROS
   ========================================== */
.nosotros{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40vh;
   background-image: url(/img/ct.png.jpeg);
   background-size: cover;
   background-position: center;
   position: relative;
}

.nosotros h2{
   font-size: 40px;
   text-align: left;
}
.nosotros ::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   top: 0;
   left: 0;
   z-index: 1;
}
.contenido-nosotros{
   z-index: 2;
}
/* ==========================================
      FOOTER
   ========================================== */
.footer{
   background-color:#053b4b;
   color: white;
   padding: 40px 0 10px 0;
   margin-top: 50px;
   font-family: arial, sans-serif;   
}

.footer-content {
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 0 20;
}

.footer-section {
   margin-bottom: 15px;
   min-width: 200px;
}

.footer-section h3, .footer-section h4{
   margin-bottom: 15px;
   color: rgb(52, 140, 240);
}
 
.social-links a {
color: white;
margin-right: 15px; 
transition: 0.3s;
}

.social-links a:hover{
color: rgb(52, 140, 240)
}

.footer-bottom {
   text-align: center;
   border-top: 1px solid rgba (255, 255, 255, 0.1);
   margin-top: 30px;
   padding-top: 20px;
   font-size: 16px;
   color: #ccc;
}


/* ==========================================
      PRODUCTOS   
   ========================================== */
.display-4{
   letter-spacing: 5px;
   margin-bottom: 5px;
   background-image: url(../img/fondoagua.png);
   background-size: cover;
   background-position: center;
   font-size: 60px;
   font-family: 'Century Gothic', sans-serif;
   font-weight: lighter;
   text-align: center;
   padding: 100px 0 ;
}

.card{
   border-radius: 15px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   overflow:hidden
}
.card:hover{
   transform: translateY(-10px);
   box-shadow:0 10px 20px #00d4ff;
}
.card-img-top{
   height: 250px;
   object-fit: contain;
   background-color:#b9c9ce;
   border: 2px;
}

.card-body p.text-muted{
   font-weight: bold;
   font-size: 1.2rem;
   color:#053b4b;
}


/* ==========================================
      PREGUNTASFREC   
   ========================================== */
.pregunta{
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.pregunta:hover{
   transform: translateX(20px);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.pregunta h3{
   color: #0b7392;
   font-size: 1.25rem;
}

   /* ==========================================
      CONTACTO   
   ========================================== */
   .form-control{
      border: 1px solid #125292;
      padding: 12px;
      transition: all 0.3s ease;
   }

   .form-control:focus{
      border-color: #0b7392;
      box-shadow: 0 0 0 0.25rem rgba(11, 115, 146, 0.25);
   }

   .btn-info{
   background-color: #0b7392 !important;
   border: none;
   padding: 12px;
    transition: background-color 0.3s ease;
}

.btn-info:hover {
    background-color: #085a73 !important; 
}


.border-info {
    border-color: #0b7392 !important; 
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}





@media (max-width: 768px){

   .hero-bootstrap {
   font-size: 45px;
   letter-spacing: 2px;
   min-height: 50vh;
   }

   #lineadeproductos{
      font-size: 30px;
      text-align: center;
   }

   .display-4{
      font-size: 35px;
   }

   .nosotros{
      height: auto;
      text-align: center;
   }

   .category-card{
      height: 250px;
      margin-bottom: 20px;
   }

   .card-img-top{
      height: 200px;
   }

   .footer-content{
      flex-direction: column;
      text-align: center;
   }

   .footer-section{
      margin-bottom: 30px;
      border-bottom: 1px solid rgba (255, 255, 255, 0.1);
      padding-bottom: 20px;
   }

   .social-links a {
      display: inline-block;
      margin: 10px;
   }
   
   @media (max-width: 480px){
      .hero-bootstrap{
         font-size: 32px;
      }
      .btn-vermas{
         width:100%;
      }
   }

}