
$color-mar-olas: #0b7392;      
$color-celeste-links: rgb(52, 140, 240); 
$color-celeste-cards: #0dcaf0;  
$color-cyan-glow: #00d4ff;      
$color-blanco: #ffffff;
$color-gris-claro: #f8f9fa;     
$color-gris-muted: #ccc;        
$color-gris-fondo-img: #b9c9ce; 

// ==========================================
// TIPOGRAFÍAS
// ==========================================
$fuente-titulos: 'Century Gothic', sans-serif;
$fuente-footer: arial, sans-serif;
$fuente-hero: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;